In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as pl
import random
import seaborn as sns #visualisation
np.random.seed(42)
random.seed(42)
import warnings
warnings.filterwarnings("ignore")

In [2]:
df = pd.read_csv("THA21.20231206132827.csv")#Average weekly volume of cars for selected traffic count sites

In [3]:
import warnings
warnings.filterwarnings("ignore")

In [4]:
df.head()

,STATISTIC,Statistic Label,TLIST(W1),Year,C03910V04662,Transport Traffic Site,C01198V01436,Weeks of the year,UNIT,VALUE
0,THA21C01,Average weekly volume of cars,2019,2019,10,Selected traffic sites - Dublin,1,Week 01,Number,463064.0
1,THA21C01,Average weekly volume of cars,2019,2019,10,Selected traffic sites - Dublin,2,Week 02,Number,534609.0
2,THA21C01,Average weekly volume of cars,2019,2019,10,Selected traffic sites - Dublin,3,Week 03,Number,549470.0
3,THA21C01,Average weekly volume of cars,2019,2019,10,Selected traffic sites - Dublin,4,Week 04,Number,550892.0
4,THA21C01,Average weekly volume of cars,2019,2019,10,Selected traffic sites - Dublin,5,Week 05,Number,543468.0

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 530 entries, 0 to 529
Data columns (total 10 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   STATISTIC               530 non-null    object
 1   Statistic Label         530 non-null    object
 2   TLIST(W1)               530 non-null    int64
 3   Year                    530 non-null    int64
 4   C03910V04662            530 non-null    int64
 5   Transport Traffic Site  530 non-null    object
 6   C01198V01436            530 non-null    int64
 7   Weeks of the year       530 non-null    object
 8   UNIT                    530 non-null    object
 9   VALUE                   496 non-null    float64
dtypes: float64(1), int64(4), object(5)
memory usage: 41.5+ KB

In [6]:
df.dtypes

STATISTIC                  object
Statistic Label            object
TLIST(W1)                   int64
Year                        int64
C03910V04662                int64
Transport Traffic Site     object
C01198V01436                int64
Weeks of the year          object
UNIT                       object
VALUE                     float64
dtype: object

In [7]:
df.shape

(530, 10)

In [8]:
df.describe()

        TLIST(W1)        Year  C03910V04662  C01198V01436          VALUE
count   530.00000   530.00000    530.000000     530.00000     496.000000
mean   2021.00000  2021.00000     15.000000      27.00000  333352.625000
std       1.41555     1.41555      5.004724      15.31151  184110.324479
min    2019.00000  2019.00000     10.000000       1.00000   43828.000000
25%    2020.00000  2020.00000     10.000000      14.00000  179434.500000
50%    2021.00000  2021.00000     15.000000      27.00000  200799.000000
75%    2022.00000  2022.00000     20.000000      40.00000  539762.750000
max    2023.00000  2023.00000     20.000000      53.00000  603575.000000

In [9]:
df.isnull().sum()

STATISTIC                  0
Statistic Label            0
TLIST(W1)                  0
Year                       0
C03910V04662               0
Transport Traffic Site     0
C01198V01436               0
Weeks of the year          0
UNIT                       0
VALUE                     34
dtype: int64

In [10]:
missing_rows = df[df.isna().any(axis=1)]

In [11]:
missing_rows

,STATISTIC,Statistic Label,TLIST(W1),Year,C03910V04662,Transport Traffic Site,C01198V01436,Weeks of the year,UNIT,VALUE
52,THA21C01,Average weekly volume of cars,2019,2019,10,Selected traffic sites - Dublin,53,Week 53,Number,NaN
105,THA21C01,Average weekly volume of cars,2019,2019,20,Selected traffic sites - Regional,53,Week 53,Number,NaN
264,THA21C01,Average weekly volume of cars,2021,2021,10,Selected traffic sites - Dublin,53,Week 53,Number,NaN
317,THA21C01,Average weekly volume of cars,2021,2021,20,Selected traffic sites - Regional,53,Week 53,Number,NaN
370,THA21C01,Average weekly volume of cars,2022,2022,10,Selected traffic sites - Dublin,53,Week 53,Number,NaN
423,THA21C01,Average weekly volume of cars,2022,2022,20,Selected traffic sites - Regional,53,Week 53,Number,NaN
463,THA21C01,Average weekly volume of cars,2023,2023,10,Selected traffic sites - Dublin,40,Week 40,Number,NaN
464,THA21C01,Average weekly volume of cars,2023,2023,10,Selected traffic sites - Dublin,41,Week 41,Number,NaN
465,THA21C01,Average weekly volume of cars,2023,2023,10,Selected traffic sites - Dublin,42,Week 42,Number,NaN
466,THA21C01,Average weekly volume of cars,2023,2023,10,Selected traffic sites - Dublin,43,Week 43,Number,NaN
467,THA21C01,Average weekly volume of cars,2023,2023,10,Selected traffic sites - Dublin,44,Week 44,Number,NaN
468,THA21C01,Average weekly volume of cars,2023,2023,10,Selected traffic sites - Dublin,45,Week 45,Number,NaN
469,THA21C01,Average weekly volume of cars,2023,2023,10,Selected traffic sites - Dublin,46,Week 46,Number,NaN
470,THA21C01,Average weekly volume of cars,2023,2023,10,Selected traffic sites - Dublin,47,Week 47,Number,NaN
471,THA21C01,Average weekly volume of cars,2023,2023,10,Selected traffic sites - Dublin,48,Week 48,Number,NaN
472,THA21C01,Average weekly volume of cars,2023,2023,10,Selected traffic sites - Dublin,49,Week 49,Number,NaN
473,THA21C01,Average weekly volume of cars,2023,2023,10,Selected traffic sites - Dublin,50,Week 50,Number,NaN
474,THA21C01,Average weekly volume of cars,2023,2023,10,Selected traffic sites - Dublin,51,Week 51,Number,NaN
475,THA21C01,Average weekly volume of cars,2023,2023,10,Selected traffic sites - Dublin,52,Week 52,Number,NaN
476,THA21C01,Average weekly volume of cars,2023,2023,10,Selected traffic sites - Dublin,53,Week 53,Number,NaN
516,THA21C01,Average weekly volume of cars,2023,2023,20,Selected traffic sites - Regional,40,Week 40,Number,NaN
517,THA21C01,Average weekly volume of cars,2023,2023,20,Selected traffic sites - Regional,41,Week 41,Number,NaN
518,THA21C01,Average weekly volume of cars,2023,2023,20,Selected traffic sites - Regional,42,Week 42,Number,NaN
519,THA21C01,Average weekly volume of cars,2023,2023,20,Selected traffic sites - Regional,43,Week 43,Number,NaN
520,THA21C01,Average weekly volume of cars,2023,2023,20,Selected traffic sites - Regional,44,Week 44,Number,NaN
521,THA21C01,Average weekly volume of cars,2023,2023,20,Selected traffic sites - Regional,45,Week 45,Number,NaN
522,THA21C01,Average weekly volume of cars,2023,2023,20,Selected traffic sites - Regional,46,Week 46,Number,NaN
523,THA21C01,Average weekly volume of cars,2023,2023,20,Selected traffic sites - Regional,47,Week 47,Number,NaN
524,THA21C01,Average weekly volume of cars,2023,2023,20,Selected traffic sites - Regional,48,Week 48,Number,NaN
525,THA21C01,Average weekly volume of cars,2023,2023,20,Selected traffic sites - Regional,49,Week 49,Number,NaN
526,THA21C01,Average weekly volume of cars,2023,2023,20,Selected traffic sites - Regional,50,Week 50,Number,NaN
527,THA21C01,Average weekly volume of cars,2023,2023,20,Selected traffic sites - Regional,51,Week 51,Number,NaN
528,THA21C01,Average weekly volume of cars,2023,2023,20,Selected traffic sites - Regional,52,Week 52,Number,NaN
529,THA21C01,Average weekly volume of cars,2023,2023,20,Selected traffic sites - Regional,53,Week 53,Number,NaN

In [12]:
missing_rows.shape

(34, 10)

In [13]:
df = df[df["Transport Traffic Site"] == "Selected traffic sites - Dublin"]

In [14]:
df

,STATISTIC,Statistic Label,TLIST(W1),Year,C03910V04662,Transport Traffic Site,C01198V01436,Weeks of the year,UNIT,VALUE
0,THA21C01,Average weekly volume of cars,2019,2019,10,Selected traffic sites - Dublin,1,Week 01,Number,463064.0
1,THA21C01,Average weekly volume of cars,2019,2019,10,Selected traffic sites - Dublin,2,Week 02,Number,534609.0
2,THA21C01,Average weekly volume of cars,2019,2019,10,Selected traffic sites - Dublin,3,Week 03,Number,549470.0
3,THA21C01,Average weekly volume of cars,2019,2019,10,Selected traffic sites - Dublin,4,Week 04,Number,550892.0
4,THA21C01,Average weekly volume of cars,2019,2019,10,Selected traffic sites - Dublin,5,Week 05,Number,543468.0
...,...,...,...,...,...,...,...,...,...,...
472,THA21C01,Average weekly volume of cars,2023,2023,10,Selected traffic sites - Dublin,49,Week 49,Number,NaN
473,THA21C01,Average weekly volume of cars,2023,2023,10,Selected traffic sites - Dublin,50,Week 50,Number,NaN
474,THA21C01,Average weekly volume of cars,2023,2023,10,Selected traffic sites - Dublin,51,Week 51,Number,NaN
475,THA21C01,Average weekly volume of cars,2023,2023,10,Selected traffic sites - Dublin,52,Week 52,Number,NaN
476,THA21C01,Average weekly volume of cars,2023,2023,10,Selected traffic sites - Dublin,53,Week 53,Number,NaN

In [15]:
df = df.reset_index(drop = True)

In [16]:
df

,STATISTIC,Statistic Label,TLIST(W1),Year,C03910V04662,Transport Traffic Site,C01198V01436,Weeks of the year,UNIT,VALUE
0,THA21C01,Average weekly volume of cars,2019,2019,10,Selected traffic sites - Dublin,1,Week 01,Number,463064.0
1,THA21C01,Average weekly volume of cars,2019,2019,10,Selected traffic sites - Dublin,2,Week 02,Number,534609.0
2,THA21C01,Average weekly volume of cars,2019,2019,10,Selected traffic sites - Dublin,3,Week 03,Number,549470.0
3,THA21C01,Average weekly volume of cars,2019,2019,10,Selected traffic sites - Dublin,4,Week 04,Number,550892.0
4,THA21C01,Average weekly volume of cars,2019,2019,10,Selected traffic sites - Dublin,5,Week 05,Number,543468.0
...,...,...,...,...,...,...,...,...,...,...
260,THA21C01,Average weekly volume of cars,2023,2023,10,Selected traffic sites - Dublin,49,Week 49,Number,NaN
261,THA21C01,Average weekly volume of cars,2023,2023,10,Selected traffic sites - Dublin,50,Week 50,Number,NaN
262,THA21C01,Average weekly volume of cars,2023,2023,10,Selected traffic sites - Dublin,51,Week 51,Number,NaN
263,THA21C01,Average weekly volume of cars,2023,2023,10,Selected traffic sites - Dublin,52,Week 52,Number,NaN
264,THA21C01,Average weekly volume of cars,2023,2023,10,Selected traffic sites - Dublin,53,Week 53,Number,NaN

In [17]:
df = df[df["C01198V01436"] != 53]
df

,STATISTIC,Statistic Label,TLIST(W1),Year,C03910V04662,Transport Traffic Site,C01198V01436,Weeks of the year,UNIT,VALUE
0,THA21C01,Average weekly volume of cars,2019,2019,10,Selected traffic sites - Dublin,1,Week 01,Number,463064.0
1,THA21C01,Average weekly volume of cars,2019,2019,10,Selected traffic sites - Dublin,2,Week 02,Number,534609.0
2,THA21C01,Average weekly volume of cars,2019,2019,10,Selected traffic sites - Dublin,3,Week 03,Number,549470.0
3,THA21C01,Average weekly volume of cars,2019,2019,10,Selected traffic sites - Dublin,4,Week 04,Number,550892.0
4,THA21C01,Average weekly volume of cars,2019,2019,10,Selected traffic sites - Dublin,5,Week 05,Number,543468.0
...,...,...,...,...,...,...,...,...,...,...
259,THA21C01,Average weekly volume of cars,2023,2023,10,Selected traffic sites - Dublin,48,Week 48,Number,NaN
260,THA21C01,Average weekly volume of cars,2023,2023,10,Selected traffic sites - Dublin,49,Week 49,Number,NaN
261,THA21C01,Average weekly volume of cars,2023,2023,10,Selected traffic sites - Dublin,50,Week 50,Number,NaN
262,THA21C01,Average weekly volume of cars,2023,2023,10,Selected traffic sites - Dublin,51,Week 51,Number,NaN
263,THA21C01,Average weekly volume of cars,2023,2023,10,Selected traffic sites - Dublin,52,Week 52,Number,NaN

In [18]:
car_2019 = df[df["Year"] == 2019]

car_2019 = car_2019[["Year","C01198V01436","VALUE"]].reset_index(drop=True)

car_2019

    Year  C01198V01436     VALUE
0   2019             1  463064.0
1   2019             2  534609.0
2   2019             3  549470.0
3   2019             4  550892.0
4   2019             5  543468.0
5   2019             6  551850.0
6   2019             7  567892.0
7   2019             8  575255.0
8   2019             9  569793.0
9   2019            10  570752.0
10  2019            11  546053.0
11  2019            12  559722.0
12  2019            13  592217.0
13  2019            14  579543.0
14  2019            15  583124.0
15  2019            16  560245.0
16  2019            17  564764.0
17  2019            18  580301.0
18  2019            19  569762.0
19  2019            20  594815.0
20  2019            21  603575.0
21  2019            22  587534.0
22  2019            23  572720.0
23  2019            24  595508.0
24  2019            25  593055.0
25  2019            26  601581.0
26  2019            27  590467.0
27  2019            28  587003.0
28  2019            29  584356.0
29  2019            30  588741.0
30  2019            31  579020.0
31  2019            32  564465.0
32  2019            33  588621.0
33  2019            34  599607.0
34  2019            35  591575.0
35  2019            36  592419.0
36  2019            37  588597.0
37  2019            38  586374.0
38  2019            39  588882.0
39  2019            40  572375.0
40  2019            41  587243.0
41  2019            42  580936.0
42  2019            43  583163.0
43  2019            44  561316.0
44  2019            45  577276.0
45  2019            46  579190.0
46  2019            47  572909.0
47  2019            48  578130.0
48  2019            49  579484.0
49  2019            50  583247.0
50  2019            51  585770.0
51  2019            52  423282.0

In [19]:
car_2020 = df[df["Year"] == 2020]

car_2020 = car_2020[["Year","C01198V01436","VALUE"]].reset_index(drop=True)

car_2020

    Year  C01198V01436     VALUE
0   2020             1  459023.0
1   2020             2  535401.0
2   2020             3  546354.0
3   2020             4  556012.0
4   2020             5  563146.0
5   2020             6  551737.0
6   2020             7  547994.0
7   2020             8  566784.0
8   2020             9  560278.0
9   2020            10  563919.0
10  2020            11  483016.0
11  2020            12  327382.0
12  2020            13  248058.0
13  2020            14  143557.0
14  2020            15  134308.0
15  2020            16  134401.0
16  2020            17  155938.0
17  2020            18  159169.0
18  2020            19  169694.0
19  2020            20  200968.0
20  2020            21  263438.0
21  2020            22  286726.0
22  2020            23  289055.0
23  2020            24  369887.0
24  2020            25  397286.0
25  2020            26  413348.0
26  2020            27  449555.0
27  2020            28  463106.0
28  2020            29  471550.0
29  2020            30  473671.0
30  2020            31  476103.0
31  2020            32  467430.0
32  2020            33  463641.0
33  2020            34  459846.0
34  2020            35  468215.0
35  2020            36  474557.0
36  2020            37  477994.0
37  2020            38  451770.0
38  2020            39  420403.0
39  2020            40  417913.0
40  2020            41  388453.0
41  2020            42  380446.0
42  2020            43  338897.0
43  2020            44  279363.0
44  2020            45  334772.0
45  2020            46  346055.0
46  2020            47  354476.0
47  2020            48  364810.0
48  2020            49  427251.0
49  2020            50  451974.0
50  2020            51  491375.0
51  2020            52  376254.0

In [20]:
car_2021 = df[df["Year"] == 2021]

car_2021 = car_2021[["Year","C01198V01436","VALUE"]].reset_index(drop=True)

car_2021

    Year  C01198V01436     VALUE
0   2021             1  272255.0
1   2021             2  255928.0
2   2021             3  258384.0
3   2021             4  265613.0
4   2021             5  274482.0
5   2021             6  274363.0
6   2021             7  292400.0
7   2021             8  304825.0
8   2021             9  319482.0
9   2021            10  333343.0
10  2021            11  302788.0
11  2021            12  338888.0
12  2021            13  327226.0
13  2021            14  317690.0
14  2021            15  398787.0
15  2021            16  411255.0
16  2021            17  414958.0
17  2021            18  397630.0
18  2021            19  460196.0
19  2021            20  476938.0
20  2021            21  497019.0
21  2021            22  503412.0
22  2021            23  500566.0
23  2021            24  513231.0
24  2021            25  512834.0
25  2021            26  515383.0
26  2021            27  507907.0
27  2021            28  526467.0
28  2021            29  534571.0
29  2021            30  515382.0
30  2021            31  504869.0
31  2021            32  524890.0
32  2021            33  531446.0
33  2021            34  549047.0
34  2021            35  531509.0
35  2021            36  533924.0
36  2021            37  536930.0
37  2021            38  540797.0
38  2021            39  536807.0
39  2021            40  538104.0
40  2021            41  537892.0
41  2021            42  537632.0
42  2021            43  525536.0
43  2021            44  533257.0
44  2021            45  535318.0
45  2021            46  532073.0
46  2021            47  514876.0
47  2021            48  519436.0
48  2021            49  496857.0
49  2021            50  532581.0
50  2021            51  455206.0
51  2021            52  369456.0

In [21]:
car_2022 = df[df["Year"] == 2022]

car_2022 = car_2022[["Year","C01198V01436","VALUE"]].reset_index(drop=True)

car_2022

    Year  C01198V01436     VALUE
0   2022             1  420291.0
1   2022             2  468040.0
2   2022             3  486562.0
3   2022             4  502538.0
4   2022             5  507672.0
5   2022             6  512675.0
6   2022             7  506623.0
7   2022             8  533714.0
8   2022             9  534969.0
9   2022            10  521347.0
10  2022            11  490995.0
11  2022            12  542469.0
12  2022            13  543560.0
13  2022            14  546815.0
14  2022            15  536268.0
15  2022            16  558694.0
16  2022            17  561127.0
17  2022            18  556239.0
18  2022            19  575405.0
19  2022            20  571593.0
20  2022            21  578719.0
21  2022            22  560207.0
22  2022            23  554260.0
23  2022            24  569312.0
24  2022            25  571084.0
25  2022            26  563171.0
26  2022            27  537825.0
27  2022            28  546454.0
28  2022            29  558061.0
29  2022            30  515650.0
30  2022            31  548190.0
31  2022            32  571523.0
32  2022            33  574178.0
33  2022            34  582683.0
34  2022            35  568721.0
35  2022            36  572995.0
36  2022            37  576323.0
37  2022            38  565849.0
38  2022            39  563189.0
39  2022            40  555361.0
40  2022            41  556828.0
41  2022            42  550995.0
42  2022            43  557435.0
43  2022            44  480617.0
44  2022            45  551500.0
45  2022            46  554558.0
46  2022            47  546451.0
47  2022            48  556871.0
48  2022            49  533722.0
49  2022            50  535536.0
50  2022            51  500570.0
51  2022            52  414049.0

In [22]:
car_2023 = df[df["Year"] == 2023]

car_2023 = car_2023[["Year","C01198V01436","VALUE"]].reset_index(drop=True)

car_2023

    Year  C01198V01436     VALUE
0   2023             1  483843.0
1   2023             2  521115.0
2   2023             3  529685.0
3   2023             4  539418.0
4   2023             5  542534.0
5   2023             6  532435.0
6   2023             7  556138.0
7   2023             8  555112.0
8   2023             9  555076.0
9   2023            10  537619.0
10  2023            11  525088.0
11  2023            12  563442.0
12  2023            13  567382.0
13  2023            14  555145.0
14  2023            15  555820.0
15  2023            16  567667.0
16  2023            17  575866.0
17  2023            18  574729.0
18  2023            19  583611.0
19  2023            20  586716.0
20  2023            21  593121.0
21  2023            22  584798.0
22  2023            23  572057.0
23  2023            24  583623.0
24  2023            25  589136.0
25  2023            26  593720.0
26  2023            27  575365.0
27  2023            28  562654.0
28  2023            29  565481.0
29  2023            30  573426.0
30  2023            31  566094.0
31  2023            32  566180.0
32  2023            33  580231.0
33  2023            34  590693.0
34  2023            35  583862.0
35  2023            36  586130.0
36  2023            37  563455.0
37  2023            38  575855.0
38  2023            39  569752.0
39  2023            40       NaN
40  2023            41       NaN
41  2023            42       NaN
42  2023            43       NaN
43  2023            44       NaN
44  2023            45       NaN
45  2023            46       NaN
46  2023            47       NaN
47  2023            48       NaN
48  2023            49       NaN
49  2023            50       NaN
50  2023            51       NaN
51  2023            52       NaN

In [23]:
df = pd.concat([car_2019, car_2020, car_2021,car_2022,car_2023], ignore_index=True)

In [24]:
df = df.rename(columns={'C01198V01436': 'week'})

In [25]:
df

     Year  week     VALUE
0    2019     1  463064.0
1    2019     2  534609.0
2    2019     3  549470.0
3    2019     4  550892.0
4    2019     5  543468.0
..    ...   ...       ...
255  2023    48       NaN
256  2023    49       NaN
257  2023    50       NaN
258  2023    51       NaN
259  2023    52       NaN

[260 rows x 3 columns]

In [26]:
print(df)

     Year  week     VALUE
0    2019     1  463064.0
1    2019     2  534609.0
2    2019     3  549470.0
3    2019     4  550892.0
4    2019     5  543468.0
..    ...   ...       ...
255  2023    48       NaN
256  2023    49       NaN
257  2023    50       NaN
258  2023    51       NaN
259  2023    52       NaN

[260 rows x 3 columns]

In [27]:
import pandas as pd
import numpy as np
from statsmodels.tsa.arima.model import ARIMA
from sklearn.metrics import mean_squared_error, mean_absolute_error
from statsmodels.graphics.tsaplots import plot_acf, plot_pacf
import matplotlib.pyplot as plt

# å°† 'Year' å’Œ 'week' åˆ—è½¬æ¢ä¸ºæ—¥æœŸåˆ—
df['Date'] = df.apply(lambda row: pd.to_datetime(f'{int(row["Year"])}-W{int(row["week"])}-1', format='%Y-W%U-%w'), axis=1)

# åˆ›å»ºè®­ç»ƒé›†å’Œæµ‹è¯•é›†
train = df[(df['Year'] >= 2019) & (df['Year'] <= 2021)]
test = df[df['Year'] == 2022]

# å¯»æ‰¾æœ€ä¼˜çš„ARIMAå‚æ•°ç»„åˆ
best_aic = np.inf
best_order = None

for p in range(3):  # å¯ä»¥æ ¹æ®éœ€æ±‚è°ƒæ•´æœç´¢èŒƒå›´
    for d in range(3):
        for q in range(3):
            try:
                model = ARIMA(train['VALUE'], order=(p, d, q))
                model_fit = model.fit()
                aic = model_fit.aic
                if aic < best_aic:
                    best_aic = aic
                    best_order = (p, d, q)
            except:
                continue
print(best_order)

# ä½¿ç”¨æœ€ä¼˜å‚æ•°æž„å»ºARIMAæ¨¡åž‹
model = ARIMA(train['VALUE'], order=best_order)
model_fit = model.fit()

# è¿›è¡Œæµ‹è¯•å¹¶è¯„ä¼°æ¨¡åž‹æ€§èƒ½
predictions = model_fit.forecast(steps=len(test))
mse = mean_squared_error(test['VALUE'], predictions)
rmse = np.sqrt(mse)
print(f'å‡æ–¹æ ¹è¯¯å·® (RMSE): {rmse}')

# è®¡ç®—å¹³å‡ç»å¯¹è¯¯å·®ï¼ˆMAEï¼‰
mae = mean_absolute_error(test['VALUE'], predictions)
print(f'å¹³å‡ç»å¯¹è¯¯å·® (MAE): {mae}')

(1, 1, 0)
å‡æ–¹æ ¹è¯¯å·® (RMSE): 197854.9896582425
å¹³å‡ç»å¯¹è¯¯å·® (MAE): 194376.5562780787

In [28]:
import pandas as pd
import numpy as np
from statsmodels.tsa.arima.model import ARIMA
from sklearn.metrics import mean_squared_error
from math import sqrt

# å‡è®¾æ‚¨å·²ç»æœ‰äº†åä¸º df çš„åŒ…å«æ•°æ®çš„ DataFrame

# åˆ›å»ºè®­ç»ƒé›†å’Œæµ‹è¯•é›†
train = df[(df['Year'] >= 2019) & (df['Year'] <= 2021)]
test = df[df['Year'] == 2022]

# ä½¿ç”¨è®­ç»ƒé›†æž„å»ºARIMAæ¨¡åž‹
model = ARIMA(train['VALUE'], order=(1, 1, 0))  # æ ¹æ®æ•°æ®ç‰¹ç‚¹é€‰æ‹©åˆé€‚çš„ARIMAé˜¶æ•°
model_fit = model.fit()

# ä½¿ç”¨ARIMAæ¨¡åž‹é¢„æµ‹2022å¹´çš„å€¼
predictions_arima = model_fit.forecast(steps=len(test))

# è®¡ç®—ARIMAé¢„æµ‹çš„RMSE
rmse_arima = sqrt(mean_squared_error(test['VALUE'], predictions_arima))

# ç›´æŽ¥ç”¨2022å¹´çœŸå®žå€¼è®¡ç®—RMSE
true_values = test['VALUE'].dropna()
rmse_true = sqrt(mean_squared_error(true_values, true_values))

# ç”¨å‡å€¼å¡«å……ç”Ÿæˆ2022å¹´æ•°æ®
mean_fill = df['VALUE'].mean()
df['VALUE'].fillna(mean_fill, inplace=True)
test_mean_fill = df[df['Year'] == 2022]

# è®¡ç®—å‡å€¼å¡«å……çš„RMSE
rmse_mean_fill = sqrt(mean_squared_error(test_mean_fill['VALUE'], true_values))

print(f'ARIMAå¡«å……çš„RMSE: {rmse_arima}')
print(f'ç›´æŽ¥ä½¿ç”¨çœŸå®žå€¼çš„RMSE: {rmse_true}')
print(f'å‡å€¼å¡«å……çš„RMSE: {rmse_mean_fill}')

ARIMAå¡«å……çš„RMSE: 197854.9896582425
ç›´æŽ¥ä½¿ç”¨çœŸå®žå€¼çš„RMSE: 0.0
å‡å€¼å¡«å……çš„RMSE: 0.0

In [29]:
import numpy as np

# è®¡ç®—2022å¹´çœŸå®žå€¼çš„å‡å€¼
mean_2022 = df[df['Year'] == 2022]['VALUE'].mean()

# è®¡ç®—æ¯ä¸ªæ ·æœ¬çš„æ®‹å·®ï¼ˆçœŸå®žå€¼ - å‡å€¼ï¼‰
residuals = df[df['Year'] == 2022]['VALUE'] - mean_2022

# è®¡ç®—å‡æ–¹æ ¹è¯¯å·®ï¼ˆRMSEï¼‰
rmse = np.sqrt((residuals ** 2).mean())

print(f'2022å¹´å‡å€¼å’ŒçœŸå®žå€¼ä¹‹é—´çš„RMSEä¸ºï¼š{rmse}')

2022å¹´å‡å€¼å’ŒçœŸå®žå€¼ä¹‹é—´çš„RMSEä¸ºï¼š36534.440300599

In [30]:
mean_2023 = df[df['Year'] == 2023]['VALUE'].mean()
df.loc[(df['Year'] == 2023) & df['VALUE'].isna(), 'VALUE'] = mean_2023

In [31]:
df

     Year  week          VALUE       Date
0    2019     1  463064.000000 2019-01-07
1    2019     2  534609.000000 2019-01-14
2    2019     3  549470.000000 2019-01-21
3    2019     4  550892.000000 2019-01-28
4    2019     5  543468.000000 2019-02-04
..    ...   ...            ...        ...
255  2023    48  500526.210526 2023-11-27
256  2023    49  500526.210526 2023-12-04
257  2023    50  500526.210526 2023-12-11
258  2023    51  500526.210526 2023-12-18
259  2023    52  500526.210526 2023-12-25

[260 rows x 4 columns]

In [32]:
from scipy import stats

# æŒ‰ç…§ä¸åŒå¹´ä»½å°†æ•°æ®åˆ†ç»„
data_2019 = df[df['Year'] == 2019]['VALUE']
data_2020 = df[df['Year'] == 2020]['VALUE']
data_2021 = df[df['Year'] == 2021]['VALUE']
data_2022 = df[df['Year'] == 2022]['VALUE']
data_2023 = df[df['Year'] == 2023]['VALUE']

# è¿›è¡Œä¸€å…ƒæ–¹å·®åˆ†æž
f_statistic, p_value = stats.f_oneway(data_2019, data_2020, data_2021, data_2022, data_2023)

# æ‰“å° F ç»Ÿè®¡é‡å’Œ p å€¼
print(f'F ç»Ÿè®¡é‡: {f_statistic}')
print(f'p å€¼: {p_value}')

# åˆ¤æ–­æ˜¯å¦æ‹’ç»åŽŸå‡è®¾
alpha = 0.05  # æ˜¾è‘—æ€§æ°´å¹³
if p_value < alpha:
    print("æ‹’ç»åŽŸå‡è®¾ï¼šä¸åŒå¹´ä»½ä¹‹é—´å­˜åœ¨æ˜¾è‘—å·®å¼‚")
else:
    print("æŽ¥å—åŽŸå‡è®¾ï¼šä¸åŒå¹´ä»½ä¹‹é—´æ²¡æœ‰æ˜¾è‘—å·®å¼‚")

F ç»Ÿè®¡é‡: 49.478468312200924
p å€¼: 8.822214131482576e-31
æ‹’ç»åŽŸå‡è®¾ï¼šä¸åŒå¹´ä»½ä¹‹é—´å­˜åœ¨æ˜¾è‘—å·®å¼‚

In [33]:
# åˆ›å»ºæ•°æ®æ¡†ï¼Œå‡è®¾æ•°æ®å­˜å‚¨åœ¨åä¸ºdfçš„DataFrameä¸­
# å¦‚æžœä¸åœ¨dfä¸­ï¼Œå°†æ•°æ®å¯¼å…¥åˆ°dfä¸­
# df = pd.read_csv("your_data.csv")

# å°†æ•°æ®æŒ‰å¹´ä»½æ‹†åˆ†
year_2019 = df[df['Year'] == 2019]['VALUE']
year_2020 = df[df['Year'] == 2020]['VALUE']
year_2021 = df[df['Year'] == 2021]['VALUE']
year_2022 = df[df['Year'] == 2022]['VALUE']

In [34]:
# è¿›è¡Œä¸€å…ƒæ–¹å·®åˆ†æž
f_statistic, p_value = stats.f_oneway(year_2019, year_2020, year_2021, year_2022)

# è¾“å‡ºç»“æžœ
print(f"F-statistic: {f_statistic}")
print(f"P-value: {p_value}")

# åˆ¤æ–­æ˜¯å¦æœ‰æ˜¾è‘—å·®å¼‚
alpha = 0.05  # æ˜¾è‘—æ€§æ°´å¹³
if p_value < alpha:
    print("å„ç»„ä¹‹é—´å­˜åœ¨æ˜¾è‘—å·®å¼‚")
else:
    print("å„ç»„ä¹‹é—´ä¸å­˜åœ¨æ˜¾è‘—å·®å¼‚")

F-statistic: 48.13748900816366
P-value: 1.4413565086635766e-23
å„ç»„ä¹‹é—´å­˜åœ¨æ˜¾è‘—å·®å¼‚

In [55]:
df = pd.read_csv("Total rail passenger transport.csv")

In [56]:
df.head()

,COUNTRY,Country,VARIABLE,Variable,TIME,Time,Unit Code,Unit,PowerCode Code,PowerCode,Reference Period Code,Reference Period,Value,Flag Codes,Flags
0,JPN,Japan,Q-RL-PASS-TOT,Total rail passenger transport,1994-01,Jan-1994,PKM,Passenger-kilometres,6,Millions,NaN,NaN,33162.0,NaN,NaN
1,JPN,Japan,Q-RL-PASS-TOT,Total rail passenger transport,1994-02,Feb-1994,PKM,Passenger-kilometres,6,Millions,NaN,NaN,29890.0,NaN,NaN
2,JPN,Japan,Q-RL-PASS-TOT,Total rail passenger transport,1994-03,Mar-1994,PKM,Passenger-kilometres,6,Millions,NaN,NaN,32379.0,NaN,NaN
3,JPN,Japan,Q-RL-PASS-TOT,Total rail passenger transport,1994-04,Apr-1994,PKM,Passenger-kilometres,6,Millions,NaN,NaN,35944.0,NaN,NaN
4,JPN,Japan,Q-RL-PASS-TOT,Total rail passenger transport,1994-05,May-1994,PKM,Passenger-kilometres,6,Millions,NaN,NaN,35072.0,NaN,NaN

In [57]:
df.shape

(1023, 15)